@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    color: #ed9224;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding: 1%;
}
.list{
    justify-content: center;
    margin-top: 20px;
}
ul{
    list-style-type: none;
    color: white;
    text-align: center;
}
.list ul li{
    display: inline-block;
    margin: 2px;
    padding: 10px 25px;
    border: 1px solid #b8b8b8;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    background: #ed9224;
}
.list ul li:hover{
    box-shadow: 1px 1px 1px 1px #b8b8b8;
    border: 2px solid #ffffff;
}
.list ul li:active{
    color: #ed9224;
    background: #ffffff;
}


.books{
    display: flex;
    flex-wrap: wrap; 
    padding: 1%;
}
.book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    border: 1px solid #b8b8b8;
    padding: 1%;
    margin: 1%;

    }
.book:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.book p{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .list{
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .books{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        padding: 2%;
    }
    .book{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        border: 1px solid #b8b8b8;
        padding: 1%;
        margin: 1%;
    
        }
  }